body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

h1{
    background-color: #f74780;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
    color: white;
}
h2{
    text-align: center;
    color: #fa8fb1;
    font-size: 35px;
}
.nombres {
    text-align: center;
    font-size: 30px;
    list-style: none;
}

li a{
    color: #ffe4ec;
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
    width: 600px;
    border-radius: 15px;
}